<ul class="testimonial p-0 d-table">
  <li class="quote-icon"><i class="fas fa-quote-left mb-2"></i></li>
  <li class="testimonial-content">
    <p>
      Have benn using Systematix for training my employees for around 18 years.
      Mainly for IT training, but they have also supplied soft skills training
      for us. Flexible and efficient, excellent trainers, they will tailor
      delivery to client requirements. I would recommend them 100%.
    </p>
    <div class="person">Mrs Frakey</div>
  </li>
</ul>
{{yield}}
