{{set-body-class "full-item-view tips-and-tricks"}}
<header class="item-header-title position-relative">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="display-3 text-white mb-0">{{_catTitle.firstObject.title}}</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="course-parent-category">
  <div class="container py-5">
    <div class="row py-5">
      <ul class="sub-category-listing">
        {{#each _subCategory as |subCategories|}}
          <li>
            {{#link-to
              "course.sub-category"
              subCategories.slug
              class="course-sub-category-link"
            }}
              <div class="course-subcategory-title mb-3">
                {{subCategories.title}}
              </div>
              <div class="course-subcategory-introtext">
                {{subCategories.introtext}}
              </div>
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
