<header class="subpage-header position-relative">
  <div class="subpage-header py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          {{_default_Template.firstObject.title}}
        </div>
      </div>
    </div>
  </div>
</header>
<section id="subpage-content" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col pr-5">
        <div class="pr-5">
          {{textContent}}
        </div>
      </div>
    </div>
  </div>
</section>
{{yield}}
