<header class="subpage-header position-relative">
  <div class="subpage-header py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-white">{{_default_Template.firstObject.title}}</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="subpage-content" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        {{textContent}}
      </div>
    </div>
  </div>
</section>
{{yield}}
