<ul class="whyChoose-listing p-0 d-table w-100 mb-0">
  <li>
    <div class="choose-icon">
      <i class="fas fa-graduation-cap"></i>
    </div>
    <div class="title-content">
      <h5 class="title mb-0">Experienced Traininers</h5>
      <div class="choose-content">
        Communicate effectively making training enjoyable and productive.
      </div>
    </div>
  </li>
  <li>
    <div class="choose-icon">
      <i class="fas fa-book"></i>
    </div>
    <div class="title-content">
      <h5 class="title mb-0">Best Price in the Industry</h5>
      <div class="choose-content">
        Our prices are competitive and provide excellent value for money.
      </div>
    </div>
  </li>
  <li>
    <div class="choose-icon">
      <i class="fas fa-tags"></i>
    </div>
    <div class="title-content">
      <h5 class="title mb-0">Course Manual Included</h5>
      <div class="choose-content">
        Explains concepts and provides examples and exercises - valuable
        reference material.
      </div>
    </div>
  </li>
  <li>
    <div class="choose-icon">
      <i class="far fa-life-ring"></i>
    </div>
    <div class="title-content">
      <h5 class="title">24/7 Unlimited Support</h5>
      <div class="choose-content">
        Unlimited post-course e-mail support on the topics you were trained
        on.
      </div>
    </div>
  </li>
</ul>
{{yield}}
