<header class="subpage-header item-header-title">
  <div class="subpage-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="back-to-link">
            {{#link-to
              "page"
              parentLink
            }}
              {{ parentNav }}
            {{/link-to}}
            {{#link-to
              "course"
            }}
              {{ catTitle }} Training
            {{/link-to}}
            {{#link-to
              "course"
              subCategory.slug
            }}
              {{ subCatTitle }} Training Courses
            {{/link-to}}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="header-call-to-action position-absolute">
            <a
              class="btn btn-primary btn-white-hover"
              href="/contact"
              role="button"
            >
              Request More Information
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{{yield}}
