<div class="whats-include container py-5 px-0">
  <div class="row">
    <div class="col-12">
      <h2>Whats included in this course?</h2>
      <ul class="included-listing p-0 d-table mt-4">
        <li>
          <div class="include-image">
            <img src="/assets/images/thumbs/cm.jpg" alt="image">
          </div>
          <div class="include-label">Course Manual</div>
        </li>
        <li>
          <div class="include-image">
            <img src="/assets/images/thumbs/et.jpg" alt="image">
          </div>
          <div class="include-label">Experienced Trainers</div>
        </li>
        <li>
          <div class="include-image">
            <img src="/assets/images/thumbs/ca.jpg" alt="image">
          </div>
          <div class="include-label">Certificate of Attendance</div>
        </li>
        <li>
          <div class="include-image">
            <img src="/assets/images/thumbs/24.jpg" alt="image">
          </div>
          <div class="include-label">Unlimited Post Course Support</div>
        </li>
      </ul>
      <p>If you need something more custom, please get in touch with our team.</p>
    </div>
  </div>
</div>
{{yield}}
