<div class="whats-include container py-5 px-0">
  <div class="row">
    <div class="col-12">
      <h2>Whats included in this course?</h2>
      <ul class="included-listing p-0 d-table mt-4">
        <li>
          <div class="include-image">
            <img src="/assets/images/thumbs/cm.jpg" alt="image" />
          </div>
          <div class="include-label">Course Manual</div>
        </li>
        <li>
          <div class="include-image">
            <img src="/assets/images/thumbs/et.jpg" alt="image" />
          </div>
          <div class="include-label">Experience Trainers</div>
        </li>
        <li>
          <div class="include-image">
            <img src="/assets/images/thumbs/ca.jpg" alt="image" />
          </div>
          <div class="include-label">Certificate of Attendance</div>
        </li>
        <li>
          <div class="include-image">
            <img src="/assets/images/thumbs/24.jpg" alt="image" />
          </div>
          <div class="include-label">24/7 Support Before, During & After your Course</div>
        </li>
      </ul>
      <p>If you need something more custom, please get in touch with our team.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <strong>Training Mangement for Enterprises</strong>
      <div class="outline-page-image my-4">
        <img src="/assets/images/management.jpg" width="100%" alt="image" />
      </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.</p>

      <a href="#">Click here to learn more</a>
    </div>
  </div>
</div>
{{yield}}
