<div class="col">
  <div class="client-testimonials p-4 my-4">
    <h2>Testimonials</h2>
    <ul class="client-testimonials-listing p-0">
      <li>
        <i class="fas fa-quote-left mb-2"></i>
        <p>
          I thoroughly enjoyed this course but do feel that the duration should
          be extended in order to allow more time to cover all of the topics.
          Noel was a fantastic trainer, happy to answer any questions and very
          good at explaining how to do something, thank you.
        </p>
        <div class="gravatar-with-info my-4">
          <div class="gravatar d-inline-block mr-3">
            <img
              class="rounded-circle"
              src="https://newdev.systematix.co.uk/wp-content/uploads/2018/12/laura.jpg"
              alt="image"
            >
          </div>
          <div class="info d-inline-block position-absolute">
            <strong>Laura Chesters</strong><br>
            <p>HSBC</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{{yield}}
