<ul class="float-right footer-social-icons mb-1">
  {{#each socialLinks as |socialLinkItems|}}
    <li class="mb-0">
      <a class="mb-0" href={{socialLinkItems.url}} target="_blank" rel="noopener">
        <img src={{socialLinkItems.socialIcon}} alt="image">
      </a>
    </li>
  {{/each}}
</ul>
{{yield}}
