<ul class="float-right footer-social-icons mb-1">
  {{#each socialLinks as |socialLinkItems|}}
    <li class="mb-0">
      <a class="mb-0" href={{socialLinkItems.url}}>
        {{socialLinkItems.content}}
      </a>
    </li>
  {{/each}}
</ul>
{{yield}}
