<ul class="scrollMenu-items mb-0 p-0">
  <li>Are you looking for?</li>
  <li>
    {{#scroll-to href="#standard-excel"}}Standard Excel Courses{{/scroll-to}}
  </li>
  <li>
    {{#scroll-to href="#business-intelligence"}}Business Intelligence Excel Courses{{/scroll-to}}
  </li>
  <li>
    {{#scroll-to href="#excel-vba"}}Excel VBA Courses{{/scroll-to}}
  </li>
</ul>
{{yield}}
