<div class="container training-centres mt-4">
  <div class="row">
    <div class="col-12">
      <div class="info-image-holder info-content">
        <div class="place-name">London</div>
        <div class="location">107 Cheapside, London, EC2V 6DN</div>
        <div class="find-nearest"><a href="#">Find the nearest Car Park</a></div>
      </div>
      <div class="info-image-holder">
        <div class="place-image">
          <img src="/assets/images/thumbs/london.jpg" class="float-right" alt="image">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="info-image-holder info-content">
        <div class="place-name">Reading</div>
        <div class="location">Soanepoint, 6-8 Market Place, Reading, RG1</div>
        <div class="find-nearest"><a href="#">Find the nearest Car Park</a></div>
      </div>
      <div class="info-image-holder">
        <div class="place-image">
          <img src="/assets/images/thumbs/reading.jpg" class="float-right" alt="image">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="info-image-holder info-content">
        <div class="place-name">Manchester</div>
        <div class="location">2 Mount Street, Manchester M2 5WQ</div>
        <div class="find-nearest"><a href="#">Find the nearest Car Park</a></div>
      </div>
      <div class="info-image-holder">
        <div class="place-image">
          <img
            src="/assets/images/thumbs/manchester.jpg"
            class="float-right"
            alt="image"
          >
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}
