<form class="search-centre mt-2">
  <div class="row">
    <div class="form-group input-group">
      <div class="col-8">
        <div class="input-holder position-relative">
          {{input
            id="post-code"
            placeholder="Enter post code"
            class="form-control form-control-lg"
          }}
        </div>
      </div>
      <div class="col-4 pl-0">
        <button
          type="submit"
          class="btn btn-primary btn-white-hover col submit-button post-code-search"
        >
          Search
        </button>
      </div>
    </div>
  </div>
</form>
