<div class="container py-5 px-0">
  <h2>Locations</h2>
  <p>
    It is a long established fact that a reader will be
    distracted by the readable content of a page when looking at
    its layout. The point of using Lorem Ipsum is that it has a
    more-or-less normal distribution of letters, as opposed to
    using 'Content here.
  </p>
  <ul class="location-lists p-0 my-5">
    <li>
      <div class="location-image">
        <img src="/assets/images/thumbs/1.jpg" alt="image">
      </div>
      <div class="location-label">Your Office</div>
    </li>
    <li>
      <div class="location-image">
        <img src="/assets/images/thumbs/2.jpg" alt="image">
      </div>
      <div class="location-label">Laptop Computers</div>
    </li>
    <li>
      <div class="location-image">
        <img src="/assets/images/thumbs/3.jpg" alt="image">
      </div>
      <div class="location-label">Our Training Centres</div>
    </li>
    <li>
      <div class="location-image">
        <img src="/assets/images/thumbs/4.jpg" alt="image">
      </div>
      <div class="location-label">1-on-1 Training</div>
    </li>
    <li>
      <div class="location-image">
        <img src="/assets/images/thumbs/4.jpg" alt="image">
      </div>
      <div class="location-label">Virtual Classroom</div>
    </li>
  </ul>
  {{outline-tabs/locations/training-centres/search-centre-form}}
  {{outline-tabs/locations/training-centres/places}}
</div>
{{yield}}
