<div class="container py-5 px-0">
  <h2>Course Information</h2>
  <div class="course-outline-section">
    {{html-safe course.fullDescription}}
  </div>
  <br>
  <h2>Course Outline</h2>
  <div class="course-outline-section">
    {{#each  course.topics as |topicSection|}}
      <strong>{{topicSection.title}}</strong>
      <ul>
        {{#each topicSection.topics as |topic|}}
          <li>{{topic.title}}</li>
        {{/each}}
      </ul>
    {{/each}}
  </div>
</div>
