<header class="subpage-header item-header-title position-relative">
  <div class="subpage-header py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="back-to-link">
            {{#link-to
              "course"
            }}
              {{ catTitle }} Training
            {{/link-to}}
          </div>
          <h1 class="display-3 text-white mb-0">{{ headerSubCatTitle }} Training Courses</h1>
        </div>
        <div class="col-lg-6">
          <div class="header-call-to-action position-absolute">
            <a
              class="btn btn-primary btn-white-hover"
              href="/contact"
              role="button"
            >
              Request More Information
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{{yield}}
